<a href="https://colab.research.google.com/github/hyuk-k/hyuk-k/blob/main/Seoul_HanRiver_project01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주제: 코로나로 인한 한강 이용객 변화....~~
## 팀: 공원을 돌려조

In [1]:
!apt-get update
!apt-get install -y fonts-nanum
!fo-cache -fv
!rm ~/.cache/matplotlib -rf

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [700 kB]
Fetched 957 kB in 4s (234 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 40 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (7,972 kB/s)
Selecting previously unselected package fonts-nanum.
(Reading database ... 148492 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/bin/bash: fo-cache: command not found

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='나눔고딕')

In [3]:
import warnings
warnings.filterwarnings('ignore')

### 파일 업로드 확인

In [5]:
ls -l

total 296
-rw-r--r-- 1 root root  88054 Sep  3 05:32 '서울특별시 코로나19 확진자 발생동향.csv'
-rw-r--r-- 1 root root 163641 Sep  3 05:32 '서울특별시 코로나19 자치구별 확진자 발생동향.csv'
drwxr-xr-x 1 root root   4096 Sep  1 19:26  sample_data/
-rw-r--r-- 1 root root  20992 Sep  3 05:32 '한강 이용 목적.xls'
-rw-r--r-- 1 root root  17920 Sep  3 05:32 '한강 이용 만족도.xls'

In [8]:
import pandas as pd
SCD = pd.read_csv('서울특별시 코로나19 확진자 발생동향.csv', encoding = 'cp949')
SCD.head()

         서울시 기준일  서울시 확진자  서울시 추가 확진  ...  자가격리자 접촉자 감시중  자가격리자 접촉자 감시해제  확인중 확진자
0  2021.09.02.00    80577        559  ...            NaN             NaN      0.0
1  2021.09.01.00    80019        665  ...            NaN             NaN      0.0
2  2021.08.31.00    79354        456  ...            NaN             NaN      0.0
3  2021.08.30.00    78899        444  ...            NaN             NaN      0.0
4  2021.08.29.00    78455        517  ...            NaN             NaN      0.0

[5 rows x 24 columns]

In [9]:
import pandas as pd
SCVD = pd.read_csv('서울특별시 코로나19 자치구별 확진자 발생동향.csv', encoding = 'cp949')
SCVD.head()

         자치구 기준일  종로구 전체  종로구 추가  ...   기타 전체  기타 추가                    수집일
0  2021.09.02.00  1267.0     6.0  ...  5985.0   24.0  2021-09-02 12:11:41.0
1  2021.09.01.00  1261.0    16.0  ...  5955.0   35.0  2021-09-01 19:11:41.0
2  2021.08.31.00  1245.0    10.0  ...  5920.0   29.0  2021-08-31 19:11:41.0
3  2021.08.30.00  1235.0     4.0  ...  5885.0   28.0  2021-08-30 19:11:41.0
4  2021.08.29.00  1231.0     9.0  ...  5857.0   24.0  2021-08-29 19:11:41.0

[5 rows x 54 columns]

In [21]:
import pandas as pd
HP = pd.read_excel('한강 이용 목적.xls',
                   header = 0,
                   usecols = 'B, C, D, E, F, G,H, I,J, K')
                   #encoding = 'utf-8')
HP.head()

   대분류   분류    계  ...  공연관람 등 행사 참석  자연 학습장/ 생태공원 방문 등 교육 목적   기타
0  서울시  서울시  100  ...           3.0                      1.8    0
1   성별   남자  100  ...           2.9                      1.5    0
2   성별   여자  100  ...           3.2                      2.0    0
3  연령별  10대  100  ...           5.5                      5.6  0.1
4  연령별  20대  100  ...           5.0                      1.1    0

[5 rows x 10 columns]