<a href="https://colab.research.google.com/github/hyuk-k/hyuk-k/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%96%B8%EC%96%B404_2021720644_%EC%9D%B4%EA%B0%95%ED%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터분석언어_ 5주차(2021.09.27)
# 2021720644 이강혁
# 반복문
### while 반복문
- 조건이 만족하는 동안 명령을 계속 실행
- 루프
  - 반복적으로 처리하는 명령
- 반복문은 코드 변경이 쉬움
  - 조건식이나 출력문 등 변경 통해 수정

### for 반복문
- 컬렉션 요소 순서대로 반복하면서 루프 명령 실행
- range 명령
  - 일정 범위 리스트 만들고 그 요소를 반복

### 제어 변수의 활용
- 루프의 반복 횟수와 끝낼 시점을 결정
- % 연산자 : 배수를 판별
  - x % 10 ==0
    - 10의 배수 좌표
  - x가 10으로 나누어 떨어지는 자리에 +를, 나머지 자리에는 - 를 출력

### break
- 반복문을 끝내는 명령
- 특정한 조건에 따라 루프 끝내고 다음 명령으로 이동

### continue
- 현재 루프만 건너뛰고 나머지는 계속 반복 수행하는 명령
- 현재 반복을 중지하고 루프 선두의 조건 점검한 후 반복 재개

## 루프의 활용
### 이중 루프
- 루프 안 명령 자리에 또다른 루프가 들어가 중첩된 것
  - 이중 루프를 작성하는 경우에도 들여쓰기에 중의

### 범위의 원칙
- 컴퓨터에서 범위 설정할 떄에는 끝 요소를 제외하고 직전까지만 포함
- range(1, 10) = 1에서 9까지의 범위
  - 범위 구간 나누어 반복 처리할 때의 편의 위함
- 오프셋
  - 기준에서의 상대적인 거리
  - 0부터 시작

In [1]:
num = 50
sum = 0
while num <= 100:
  sum += num
  num += 1
  print("num=", num -1)
print("sum=", sum)

num= 50
num= 51
num= 52
num= 53
num= 54
num= 55
num= 56
num= 57
num= 58
num= 59
num= 60
num= 61
num= 62
num= 63
num= 64
num= 65
num= 66
num= 67
num= 68
num= 69
num= 70
num= 71
num= 72
num= 73
num= 74
num= 75
num= 76
num= 77
num= 78
num= 79
num= 80
num= 81
num= 82
num= 83
num= 84
num= 85
num= 86
num= 87
num= 88
num= 89
num= 90
num= 91
num= 92
num= 93
num= 94
num= 95
num= 96
num= 97
num= 98
num= 99
num= 100
sum= 3825

In [2]:
num = 151
sum = 0
while num <= 300:
  sum += num
  num += 2
print("num=", num-2)
print("sum=", sum)

num= 299
sum= 16875

In [3]:
for student in [10, 20, 30, 40, 50]:
  print(student, "번 학생의 성적을 처리한다.")

10 번 학생의 성적을 처리한다.
20 번 학생의 성적을 처리한다.
30 번 학생의 성적을 처리한다.
40 번 학생의 성적을 처리한다.
50 번 학생의 성적을 처리한다.

In [4]:
sum = 0
for num in range(1,101):
    sum += num
print("sum=",sum)

sum= 5050

In [5]:
sum = 0
for num in range(2, 101, 2):
  sum += num
print("sum=",sum)

sum= 2550

In [7]:
for x in range(1, 51):
  if(x % 10 == 0):
    print('*',end='')
  else:
    print('-',end='')

---------*---------*---------*---------*---------*

In [8]:
x = 1
while x <= 50:
  if(x%10):
    print('-', end= '')
  else:
    print('+', end= '')
  x += 1

---------+---------+---------+---------+---------+

In [9]:
for x in range(1, 51):
  if (x % 10 == 5):
    print('+', end = '')
  else:
    print('-', end = '')

----+---------+---------+---------+---------+-----

In [10]:
score = [95, 85, 78, 150]
for s in score:
  if (s<0 or s>100):
    break
  print(s)
print("성적 처리 끝")

95
85
78
성적 처리 끝

In [14]:
for i in range(0, 3, 1):
  for k in range(0, 2, 1):
    print("컴퓨터프로그래밍 (i값 : %d, k값: %d)" % (i,k))

컴퓨터프로그래밍 (i값 : 0, k값: 0)
컴퓨터프로그래밍 (i값 : 0, k값: 1)
컴퓨터프로그래밍 (i값 : 1, k값: 0)
컴퓨터프로그래밍 (i값 : 1, k값: 1)
컴퓨터프로그래밍 (i값 : 2, k값: 0)
컴퓨터프로그래밍 (i값 : 2, k값: 1)

In [15]:
for dan in range(2, 10):
  print(dan, "단")
  for hang in range(2,10):
    print(dan, "*", hang, "=", dan*hang)
  print()

2 단
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [19]:
dan = 2
while dan <= 9:
  hang = 2
  print(dan, "단")
  while hang <= 9:
    print(dan, "*", hang, "=", dan * hang)
    hang += 1
  dan += 1
  print()

2 단
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [26]:
i, hap = 0,0
num = 0
init_num = int(input("초기 값 입력 : "))
num = int(input("값 입력 : "))
for i in range(init_num, num + 1, 1):
  hap = hap + i
print("1에서 %d까지 합 : %d" % (num, hap))

초기 값 입력 : 3
값 입력 : 5
1에서 5까지 합 : 12

In [23]:
i, hqp = 0,0
num = 0
int_num = int(input("초기 값 입력:"))
close_num = int(input("종료 값 입력:"))

for i in range(int_num, close_num+1, 1):
  hap = hap+i
print("%d에서 %d까지 합: %d" % (int_num, close_num, hap))

초기 값 입력:3
종료 값 입력:5
3에서 5까지 합: 12