<a href="https://colab.research.google.com/github/hyuk-k/hyuk-k/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%96%B8%EC%96%B402_2021720644_%EC%9D%B4%EA%B0%95%ED%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터분석언어_ 3주차(2021.09.14)
# 2021720644 이강혁
## 타입
### 수치형

In [2]:
a = 123456789
print(a)
print(2**100)

123456789
1267650600228229401496703205376

In [3]:
a = 0x1a # 16진수
print(a)

26

In [4]:
a = 0b1101 # 2진수
print(a)

13

In [5]:
print(hex(26)) # 형변환 (16진수)

0x1a

In [6]:
print(oct(26)) # 형변환 (8진수)

0o32

In [7]:
print(bin(13)) # 형변환 (2진수)

0b1101

### 수치형
- 정수형
  - 가장 간단한 수치형
  - 소수점 이하 값은 표현할 수 없음
  - 10진수 아닌 정수는 앞에 접두 붙여 진법 지정, 표시
- 실수형
  - 소수점 이하 정밀한 값 표현
  - 아주 크거나 작은 값은 부동 소수점 방식으로 표기
    - 가수E지수
      - 9조 4600억 = 9.46e12
    - 숫자 짧아지고 비교에도 용이함
- 복소수형
  - 실수부+허수부j
    - 알파벳j 접미가 복소수임을 나타냄
      - a = 1+2j
      - b = 3+4j
      - print(a+b)
      - (4+6j)

In [9]:
67.5
89.75
a = 9.46e12
print(a)

9460000000000.0

In [11]:
a = 1+2j
b = 3+4j
print(a+b)

(4+6j)

### 문자열
- 일련의 문자를 따옴표로 감싸 나열한 것
- 각종 문자, 기호, 숫자 등 포함 가능
- 따옴표는 따옴표 안에 적을 수 없음
- 한 문자열에 두 따옴표 섞어 사용할 수 없음

In [12]:
a = "Korea 서울 1234"
print(a)

Korea 서울 1234

In [16]:
a = 'I Say "Help" to you'
print(a)

I Say "Help" to you

In [18]:
# a = "I Say "Help" to you"  ## 오류 발생
# print(a)

In [15]:
a = "I Say \"help\" to you"
print(a)

I Say "help" to you

### 확장열

In [22]:
a = "first\nsecond"
print(a)

first
second

In [20]:
a = "first\tsecond"
print(a)

first	second

In [21]:
a = "first\"second"
print(a)

first"second

In [23]:
a = "first\\second"
print(a)

first\second

In [24]:
a = "old\nnew"
print(a)

old
new

In [25]:
a = "old\new"
print(a)

old
ew

In [26]:
a = "old\nnew"
print(a)

old
new

### 긴 문자열
- 따옴표 3개 연속으로 사용하여 긴 문자열

In [27]:
s = '''강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녘놀
구름에 달 가듯이 가는 나그네'''
print(s)

강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녘놀
구름에 달 가듯이 가는 나그네

In [28]:
s = "강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네 \
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녘놀 \
구름에 달 가듯이 가는 나그네"
print(s)

강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녘놀구름에 달 가듯이 가는 나그네

In [33]:
totalsec = 365 *24 * \
           60 * 60
print(totalsec)

31536000

In [34]:
s = "korea " "japan " "2002"
print(s)

korea japan 2002

In [36]:
s = "korea japan 2002" 
print(s)

korea japan 2002

In [38]:
s = ("korea "
     "japan "
     "2002")
print(s)

korea japan 2002

In [40]:
print(ord('A')) ## 아스키 코드 값
print((98))
print(98)

65
98
98

In [45]:
for c in range(ord('A'), ord('Z') + 1): # 초기값 65, 종료값 90 +1 (+1을 해주지 않으면 n-1이기에 89까지 인식)
  print(chr(c), end = ' ') # chr 문자로 변경, end 옵션 , 프린트는 개행되는 속성이지만 end를 넣어서 이어서 출력

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [46]:
a = 5
b = a == 5
print(b)

True

In [48]:
a = 5
if a ==5:
  print("a는 5입니다.")

a는 5입니다.

In [49]:
a = None
print(a)

None

In [50]:
member = ['손오공','저팔계','사오정','삼장법사']
print(member)

['손오공', '저팔계', '사오정', '삼장법사']

In [51]:
member = ['손오공','저팔계','사오정','삼장법사']
for m in member:
  print(m, " 출동")

손오공  출동
저팔계  출동
사오정  출동
삼장법사  출동