<a href="https://colab.research.google.com/github/hyuk-k/hyuk-k/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%96%B8%EC%96%B401_2021720644_%EC%9D%B4%EA%B0%95%ED%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터분석언어_ 2주차(2021.09.07)
# 2021720644 이강혁
## 파이썬
### 기본 문법 진행
- 기본 연산

In [1]:
(1+2)*3

9

In [2]:
(1+2)*3/4

2.25

In [4]:
a= 12
b= 34
print(a,b,sep = ",")

12,34

### 파이참 진행시 
- 파일 세팅 -> Setting -> font -> 사이즈 및 폰트 조절 가능
- 주석처리 (Ctrl+/)

In [5]:
## 반복문  range(범위) n-1까지 반복, :을 넣으면 한줄로 코드를 쓸 수 있음
for a in range(2,8):print(a, a**2)

2 4
3 9
4 16
5 25
6 36
7 49

In [7]:
2*3
print(2*3)

6

In [14]:
# 대문자와 소문자는 별개의 변수
A = 10*3
a = 5*3

print(A)

30

In [15]:
# 대문자와 소문자는 별개의 변수
print(A)
print(a)
print(A+a)

30
15
45

In [10]:
A

30

In [11]:
a

15

In [12]:
A,a

(30, 15)

In [16]:
1+2+3
4+5+6

15

In [17]:
2*3

6

In [19]:
a = 3
b = 4

print(3+4)

7

In [22]:
## 대소문자 처리
## Print(3+4)  ## 오류
## PRINT(3+4)  ## 오류

In [23]:
value = 1234
print(value)
print(value * 2)

1234
2468

In [24]:
4*5   # 무시된다  ## why? 무시되지?
a = 1
b = 2
print (a+b)

3

In [26]:
print(a*b)

2

In [27]:
print(a-b)

-1

In [30]:
## printsep
s= "서울"
d= "대전"
g= '대구'
b= '부산'
print(s, d, g, b, sep =' 찍고 ')

서울 찍고 대전 찍고 대구 찍고 부산

In [35]:
## printtwo ## 줄개행
a ='강아지'
b ='고양이'
print(a)
print(b)
print(a+b)

강아지
고양이
강아지고양이

In [38]:
## printend ## end를 넣으면 위에와 밑에가 이어서 출력
a = '강아지'
b = '고양이'
print(a, end= ' ')
print(b)

강아지 고양이

In [37]:
print(12, 34, 56, sep = '^^', end = '-->')
print(78)

12^^34^^56-->78

In [39]:
# input 함수
age = input('몇 살이세요?')
print(age)

몇 살이세요?30살
30살

In [42]:
# intinput  ## int로 형변환
price = input('가격을 입력하세요 : ')
num = input('개수를 입력하세요 :')

sum = int(price) * int(num)
print('총액은', sum, '원입니다.')

가격을 입력하세요 : 100
개수를 입력하세요 :100
총액은 10000 원입니다.

In [43]:
# intinput2 ## 기본 int로 감싸서 진행
price = int(input('가격을 입력하세요:'))
num = int(input('개수를 입력하세요:'))
sum = price * num
print('총액은', sum, '원입니다.')

가격을 입력하세요:100
개수를 입력하세요:100
총액은 10000 원입니다.

In [45]:
# 변수 사용 => 변수란? 변하는 수
score = 98
print(score)

score = 'high'
print(score)

98
high

In [49]:
# inputname
name = input('이름을 입력하세요: ')
print('안녕하세요', name ,"님")

이름을 입력하세요: 이강혁
안녕하세요 이강혁 님

# 변수
## 기본구조
### 소스의 형식
- 일정한 규칙에 따라 스크립트 파일 코드를 작성
- 들여쓰기(indent)
  - tab 혹은 4개 공백
  - 일반적으로>>> 프롬포트의 첫 칸부터 명령을 입력
  - 텍스트 파일에 스크립트 작성 시 역시 첫 칸부터 입력
  - 조건문, 반복문 등 여러개 문장이 블록 구성하는 경우
    - 들여쓰기를 통해 아래쪽 문장이 조건, 반복 대상임을 표시
  - 파이썬은 개행과
  - 문자로 주석 달 수 있음
    - 명령어가 아닌, 사용자를 위한 설명 문장
    - 해석기는 주석 부분을 무시

- 출력
  - print 명령
    -

- 입력
  - 사용자에게 질문하여 값 입력받기
  - input 명령
    - 변수 = input('질문 내용')
    - 괄호 안에 질문 내용 입력
    - 사용자가 질문에 대해 입력한 값 돌려줌

### 변수명
- 변수
  - 메모리에 이름 붙이고 값을 저장하는 것
- 명칭
  - 변수가 다른 것과 구분되도록 이름 붙인 것
- 규칙
  - 키워드나 내장 함수, 표준 모듈명은 사용할 수 없음
  - 모든 명칭은 대소문자를 구분함
  - 알파벳, 밑줄 문자, 숫자 등으로 구성
    - 공백, +, - 등은 사용 불가
  - 첫 글자로 숫자 사용 불가
  - 한글이나 한자 사용 불가

### 변수 사용
- 파이썬 변수는 별도 타입 지정하지 않음
  - 최초 대입하는 값에 의해 결정


## 연습 문제

In [50]:
## 변수이기 때문에 result 값이 계속 변함
a = int(input("첫번째 숫자를 입력하세요:"))
b = int(input("두번째 숫자를 입력하세요:"))
result = a+b
print(a ,"+", b, "=", result)
result = a-b
print(a ,"-", b, "=", result)
result = a*b
print(a ,"*", b, "=", result)
result = a/b
print(a ,"/", b, "=", result)

첫번째 숫자를 입력하세요:10
두번째 숫자를 입력하세요:2
10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 / 2 = 5.0

In [51]:
print("안녕하세요?")

안녕하세요?

In [52]:
print("100")

100

In [53]:
# %d 는 정수(Decimal)를 의미
print("%d"%100)

100

In [54]:
print("100+100")

100+100

In [55]:
print("%d"%(100+100))

200

- 숫자가 두개라면, 맞춰서 실행해야 함

In [60]:
## print("%d" % (100,200)) -> 실행 안됨

In [61]:
## print("%d %d" % (100)) -> 실행 안됨

In [57]:
print("%d %d" % (100,200))

100 200

In [64]:
## 모두 정수로 표시 (형식을 정수로 정해놨기 때문에 -> float으로 변경)
print("%d / %d = %d" % (100, 200, 0.5))

100 / 200 = 0

In [ ]:
## 5.1f 는 전체 데이터를 다섯자리수만큼 소수 첫째자리 까지만
print("%d / %d = %5.1f" % (100, 200, 0.5))

In [62]:
print("%d" % 123)

123

In [63]:
print("%5d" % 123)

  123

In [65]:
print("%05d" % 123)

00123

In [66]:
print("%f" %123.45)

123.450000

In [67]:
print("%7.1f" %123.45)

  123.5

In [68]:
## 소수점 포함
print("%7.3f" %123.45)

123.450